[Unit]
Description=Routelogbeat Magnum Route Collector.
Documentation=https://github.com/thetherington/routelogbeat
Wants=network-online.target
After=network-online.target

[Service]
User=insite
Environment="GODEBUG='madvdontneed=1'"
Environment="BEAT_LOG_OPTS="
Environment="BEAT_CONFIG_OPTS=-c /opt/packages/routelogbeat/routelogbeat.yml"
Environment="BEAT_PATH_OPTS=--path.home /opt/packages/routelogbeat --path.data /opt/packages/routelogbeat/data/ --path.logs /opt/packages/routelogbeat/logs/"
WorkingDirectory=/opt/packages/routelogbeat
ExecStart=/opt/packages/routelogbeat/routelogbeat $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
Restart=always

[Install]
WantedBy=multi-user.target