[Unit]
Description=Routebeat Magnum Route Collector.
Documentation=https://github.com/thetherington/routebeat
Wants=network-online.target
After=network-online.target

[Service]
User=insite
Environment="GODEBUG='madvdontneed=1'"
Environment="BEAT_LOG_OPTS="
Environment="BEAT_CONFIG_OPTS=-c /opt/packages/routebeat/routebeat.yml"
Environment="BEAT_PATH_OPTS=--path.home /opt/packages/routebeat --path.data /opt/packages/routebeat/data/ --path.logs /opt/packages/routebeat/logs/"
WorkingDirectory=/opt/packages/routebeat
ExecStart=/opt/packages/routebeat/routebeat $BEAT_LOG_OPTS $BEAT_CONFIG_OPTS $BEAT_PATH_OPTS
Restart=always

[Install]
WantedBy=multi-user.target